# Copy this file to .env and adjust values as needed.
APP_NAME=CyberSentinel API
APP_VERSION=0.1.0
ENVIRONMENT=development
DEBUG=true
API_V1_PREFIX=/api/v1
CORS_ORIGINS=["http://localhost:5173"]
MODEL_PATH=../ml/models/random_forest_v2_top40.joblib
DATABASE_URL=postgresql+psycopg://postgres:Kiprop@03@localhost:5432/cybersentinel
DB_ECHO=false
SECRET_KEY=yD396Chu4H2JpAd6nKnwh-tPIrQi69mVbvMAeyfbXiARu-7Yv76KGVRuSssmve3maxrpOXz-jMPA_wf6M3h5zw
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
